<footer class="bg-primary text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="mb-4" src="{{ site.url }}/assets/logo-futura.svg" width="80" alt="">
                <p>
                    © Copyright Business Risk Systems Assured Ltd. 2017, all rights reserved. Business Risk Systems Assured Ltd is registered and incorporated in England. Company registration number ########
                    </p>
            </div>
            <div class="col-4 ml-auto">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/popper.js/dist/popper.min.js"></script>
<script src="/node_modules/slick-carousel/slick/slick.min.js"></script>
<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
<script src="{{ site.url }}/assets/js/app.js"></script>