#home-hero {
    height: 600px;
    background-color: black;
    .home-hero--1,
    .home-hero--2,
    .home-hero--3,
    .home-hero--4,
    .home-hero--5,
    .home-hero--6,
    .home-hero--7 {
        background-size: cover;
        height: 600px;
        background-position: center;
    }
    .home-hero--1 {
        background-image: url("/assets/img/1.jpg");
    }
    .home-hero--2 {
        background-image: url("/assets/img/2.jpg");
    }
    .home-hero--3 {
        background-image: url("/assets/img/3.jpg");
    }
    .home-hero--4 {
        background-image: url("/assets/img/4.jpg");
    }
    .home-hero--5 {
        background-image: url("/assets/img/5.jpg");
    }
    .home-hero--6 {
        background-image: url("/assets/img/6.jpg");
    }
    .home-hero--7 {
        background-image: url("/assets/img/7.jpg");
    }
}
