--- 
layout: default 
---

<div class="tagline bg-primary d-block text-center p-2 text-white">
    <p class="mb-0 lead">Intelligent Risk Control; tailored to your industry</p>
</div>

<div id="home-hero" class="your-class">
    <div class="home-hero--1"></div>
    <div class="home-hero--2"></div>
    <div class="home-hero--3"></div>
    <div class="home-hero--4"></div>
    <div class="home-hero--5"></div>
    <div class="home-hero--6"></div>
    <div class="home-hero--7"></div>
</div>

<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1>Assess</h1>
                <p>Working in a consultative manner, BRS Assured will create risk evaluation criteria that will address the
                    specific areas of concern or the general working practices of an organisation. May that risk be in the
                    field of Health & Safety, Environment, Quality, Ethical Compliance or many other areas; the assessment
                    criteria will ensure that all compliance requirements are captured, but more importantly, the answers
                    to the concerns can be provided.</p>
                <p>Using this stage of the service, BRS Assured will get to know your organisation and your own individual requirements.
                    Working with members of the compliance teams as well as the relevant legal representatives the assessment
                    criteria will be drafted, agreed and where required trialled in a live environment.</p>
                <p>The assessment criteria will be provided through our configurable cloud based platform which will also be
                    used as part of the evaluation stage, ensuring audit and inspection teams are fully mobile; regardless
                    of the locations of your offices, sites, retail outlets or any other industry specific locations.</p>
                <p>To find out more about the tailored process, please contact a member of our team.</p>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
</div>
<div class="bg-secondary py-4 text-white">
    <div class="container">
        <div class="row">
            <div class="col-7 order-2">
                <h1>Evaluate</h1>
                <p>Using our cloud based IT platform; industry specific audit and inspection programmes can be introduced with
                    all of the audit results, non-compliances or areas of concern detailed within the system. Our simple
                    and configurable audit capture process ensures that our team can conduct their work regardless of the
                    location of the audits or inspections.</p>
                <p>Utilising the resources of a fully competent and qualified audit team, BRS Assured can be your trusted partner
                    in Risk Control. The tailored onsite inspection and auditing services capture the behaviours and working
                    practices of your organisation to ensure full compliance with the initial stage of the programme. The
                    audit and inspection programme can be completely configurable to ensure the organisational needs are
                    met and that business can be completed as usual, without any costly interference.</p>
                <p>Offering a range of unannounced, planned and desktop evaluations; organisations can rest assured that the
                    risk controls are being evaluated in a consistent and professional manner.</p>
                <p>Allowing individual user access to our bespoke platform, organisations can not only benefit from an independent
                    auditing and inspection programme; but also integrate the service as part of their own internal inspection
                    and audit programmes. Providing Real-time risk information on a single platform.</p>
                <p>For more information and details about the different programmes that are available, please contact a member
                    of our team.</p>
            </div>
            <div class="col-5 order-1">

            </div>
        </div>
    </div>
</div>
<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1>Control</h1>
                <p>Individual user access to the BRS Assured platform will enable organisations to review all areas of concern
                    or non-compliance and the actions that have been taken to address the issues. Real-time information is
                    available with specific access to enable individual sites, or corporate level intervention on the risk
                    control measures that are required, the speed at which actions are taken and the accuracy of closure.
                    The information can be provided to all levels of the organisation with the introduction of specific organisational
                    training materials to ensure continual improvement.</p>
                <p>Providing the information in a live system ensures organisations have the most relevant and up to date compliance
                    information at their fingertips.</p>
                <p>BRS Assured also benefits from being able to offer specific consultancy support services, training and or
                    official NVQ qualifications as enhanced parts of the service, ensuring Intelligent Risk Control; that
                    is tailored to your industry.</p>
                <p>BRS Assured also benefits from being able to offer specific consultancy support services, training and or
                    official NVQ qualifications as enhanced parts of the service, ensuring Intelligent Risk Control; that
                    is tailored to your industry.</p>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>
</div>