---
layout: default
---

<div id="home-hero" class="your-class">
    <div class="home-hero--1"></div>
    <div class="home-hero--2"></div>
    <div class="home-hero--3"></div>
    <div class="home-hero--4"></div>
    <div class="home-hero--5"></div>
    <div class="home-hero--6"></div>
    <div class="home-hero--7"></div>
</div>

<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <h1 class="text-center mb-4">Who Are BRS Assured Ltd</h1>
      <p class="pt-4">Business Risk Systems Assured are specialists in understanding the risks within a business and that these are a critical factor for ensuring the safeguarding of personnel, products, assets and infrastructure.  We create tailored solutions, fully supported by a cloud based IT platform, that can assist any organisation with their risk control, which in turn will provide effective and consistent risk management tools for any industry sector.</p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <h1 class="text-center mb-4">Our Services</h1>
    </div>
    <div class="col-6 text-center py-4">
      <i class="fa fa-search fa-3x" aria-hidden="true"></i>
      <h2>Assess</h2>
      <p class="text-muted">Understanding and creating your risk profile</p>
      <button type="button" class="btn btn-primary">Learn More</button>
    </div>
    <div class="col-6 text-center py-4">
      <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
      <h2>Evaluate</h2>
      <p class="text-muted">Demonstrating your compliance and risk exposure</p>
      <button type="button" class="btn btn-primary">Learn More</button>
    </div>
    <div class="col-6 text-center py-4">
      <i class="fa fa-balance-scale fa-3x" aria-hidden="true"></i>
      <h2>Control</h2>
      <p class="text-muted">Monitoring, measuring and improving your risk profile</p>
      <button type="button" class="btn btn-primary">Learn More</button>
    </div>
    <div class="col-6 text-center py-4">
      <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
      <h2>Training</h2>
      <p class="text-muted">Empowering you and your people</p>
      <button type="button" class="btn btn-primary">Learn More</button>
    </div>
  </div>
</div>
