---
layout: default
---

<div id="home-hero">
  <div class="slider">
    <div class="home-hero--1">
      <div class="home-hero--content">
        <div class="container text-center pt-5">
          <div class="row mt-5">
            <div class="col-8 mt-5 mx-auto">
              <h1 class="text-white">BRS ASSURED LTD</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6 mt-5 mx-auto">
              <a href="#" class="btn btn-lg btn-primary">Request a Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-hero--2">
      <div class="home-hero--content">
        <div class="container text-center pt-5">
          <div class="row mt-5">
            <div class="col-8 mt-5 mx-auto">
              <h1 class="text-white">INTELLIGENT RISK CONTROL</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6 mt-5 mx-auto">
              <a href="#" class="btn btn-lg btn-primary">Request a Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-hero--3">
      <div class="home-hero--content">
        <div class="container text-center pt-5">
          <div class="row mt-5">
            <div class="col-8 mt-5 mx-auto">
              <h1 class="text-white">UNDERSTANDING YOUR RISKS</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6 mt-5 mx-auto">
              <a href="#" class="btn btn-lg btn-primary">Request a Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-hero--4">
      <div class="home-hero--content">
        <div class="container text-center pt-5">
          <div class="row mt-5">
            <div class="col-8 mt-5 mx-auto">
              <h1 class="text-white">SAFEGUARDING YOUR PERSONNEL PRODUCTS, ASSETS AND INFRASTRUCTURE</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6 mt-5 mx-auto">
              <a href="#" class="btn btn-lg btn-primary">Request a Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-hero--5">
      <div class="home-hero--content">
        <div class="container text-center pt-5">
          <div class="row mt-5">
            <div class="col-8 mt-5 mx-auto">
              <h1 class="text-white">TAILORED SOLUTIONS TO ASSIST WITH YOUR RISK CONTROL</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6 mt-5 mx-auto">
              <a href="#" class="btn btn-lg btn-primary">Request a Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-hero--6">
      <div class="home-hero--content">
        <div class="container text-center pt-5">
          <div class="row mt-5">
            <div class="col-md-8 mt-5 mx-auto">
              <h1 class="text-white">EFFECTIVE AND CONSISTENT RISK MANAGEMENT TOOLS AND SERVICES</h1>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-6 mt-5 mx-auto">
              <a href="#" class="btn btn-lg btn-primary">Request a Free Consultation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-4">
    <div class="col-12">
      <h1 class="text-center mb-4 text-secondary">Who Are BRS Assured Ltd</h1>
      <p class="pt-4 lead text-muted py-3">Business Risk Systems Assured are specialists in understanding the risks within a business and that these are a critical factor for ensuring the safeguarding of personnel, products, assets and infrastructure.  We create tailored solutions, fully supported by a cloud based IT platform, that can assist any organisation with their risk control, which in turn will provide effective and consistent risk management tools for any industry sector.</p>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <h1 class="text-center mb-4 text-secondary">Our Services</h1>
    </div>
    <div class="col-6 text-center py-5">
      <i class="fa fa-search fa-3x text-primary mb-3" aria-hidden="true"></i>
      <h2>Assess</h2>
      <p class="text-muted lead py-3">Understanding and creating your risk profile</p>
      <button type="button" class="btn btn-lg btn-outline-secondary">Learn More</button>
    </div>
    <div class="col-6 text-center py-5">
      <i class="fa fa-line-chart fa-3x text-primary mb-3" aria-hidden="true"></i>
      <h2>Evaluate</h2>
      <p class="text-muted lead py-3">Demonstrating your compliance and risk exposure</p>
      <button type="button" class="btn btn-lg btn-outline-secondary">Learn More</button>
    </div>
    <div class="col-6 text-center py-5">
      <i class="fa fa-balance-scale fa-3x text-primary mb-3" aria-hidden="true"></i>
      <h2>Control</h2>
      <p class="text-muted lead py-3">Monitoring, measuring and improving your risk profile</p>
      <button type="button" class="btn btn-lg btn-outline-secondary">Learn More</button>
    </div>
    <div class="col-6 text-center py-5">
      <i class="fa fa-graduation-cap fa-3x text-primary mb-3" aria-hidden="true"></i>
      <h2>Training</h2>
      <p class="text-muted lead py-3">Empowering you and your people</p>
      <button type="button" class="btn btn-lg btn-outline-secondary">Learn More</button>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-12">
      <h1 class="text-center mb-4 text-secondary">Our Industries</h1>
      <p class="pt-4 lead text-muted">Working in a consultative manner, BRS Assured will create risk evaluation criteria that will</p>
    </div>
  </div>
</div>
